@(message: String)
    @import java.math.BigInteger;var i = 0
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

            <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="docs/images/favicon.ico" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    </head>
    <body style ="background-color:#b9cef0">

        <div class="row">
        <header class="topbar">
            <h1 class="focused" style="font-size: 37px; text-align: center;
                color: black">
                <strong>Dashboard</strong>
            </h1>
            <p class="focused" style="font-size: 20px; text-align: center;
                color: #768091">@message</p>

        </header>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card indigo darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Create Position</span>
                        <p>Create a new position for TA spots in your course.</p>
                    </div>
                    <div class="card-action">
                        <a href="@routes.PositionController.createPosition()">Create</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card indigo darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Create Application</span>
                        <p>Create an application with your qualifications.</p>
                    </div>
                    <div class="card-action">
                        <a href="@routes.ApplicationController.createApplication()">Create</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card blue-grey darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">My Positions</span>
                        <p>View/edit your current positions.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">View</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12 m6">
                <div class="card indigo darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Settings</span>
                        <p>Set the preferences for your available positions.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">Edit</a>
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
